.benefits {
  background: linear-gradient(108.62deg, #191536 0%, #000 77.34%);

  &__title {
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    padding: 70px 0 32px;

    @include onDesktop {
      padding: 100px 0 32px;
      text-align: center;
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $colorGrey;
    margin-bottom: 20px;

    @include onTablet {
      text-align: center;
    }
  }

  &__grid {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
    }
  }

  &__picture {
    @extend %hover-scale;
    @include onTablet {
      width: 100%;
      position: relative;
      left: 0;
      padding-bottom: 50%;
      background-repeat: no-repeat;
      background-size: 40%;
      background-position: 50%;
      margin-bottom: 20px;

      &--compatible {
        background-image: url(../images/compatible.svg);
      }

      &--control {
        background-image: url(../images/control.svg);
      }

      &--sensors {
        background-image: url(../images/sensors.svg);
      }
    }
  }

  &__button {
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $colorBlue;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  
    &:hover {
      background-color: #fff;
      color: $colorBlue;
      transition: 0.5s;
    }
  
    &:active {
      background-color: #191536;
      color: #2f2f2f;
    }
    
    @include onTablet {
      display: flex;
      grid-column: 2 / 3;
    }
  
    @include onDesktop {
      display: flex;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      margin: 100px 0;
    }
  }
}
