.custom-select select {

  background-color: #191536;
  background-image: url(../images/Polygon.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 20%;
  border-radius: 2px;
  border: none;
  color: #fff;
  padding: 10px 40px;
  font-size: 20px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

@-moz-document url-prefix() {
  select {
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #fff;
  }
}

.country-select select {

  background-color: #191536;
  background-image: url(../images/Polygon.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 20%;
  border-radius: 2px;
  border: none;
  color: #fff;
  width: 100%;
  padding: 15px;
  margin-top: 14px;
  font-size: 20px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

@-moz-document url-prefix() {
  select {
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #fff;
  }
}

.city-select select {

  background-color: #191536;
  background-image: url(../images/Polygon.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 20%;
  border-radius: 2px;
  border: none;
  color: #fff;
  width: 100%;
  padding: 15px;
  margin-top: 14px;
  font-size: 20px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

@-moz-document url-prefix() {
  select {
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #fff;
  }
}

.header__language select {
  display: none;

  @include onDesktop {
    display: block;
    background: linear-gradient(107.56deg, #191536 0%, #000 100%);
    background-image: url(../images/Polygon.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 20%;
    border-radius: 2px;
    border: none;
    color: $colorBlue;
    padding: 0 20px 5px 10px;
    font-size: 16px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
    grid-column: 2 / 3;
  }

  @-moz-document url-prefix() {
    select {
      color: rgba(0,0,0,0);
      text-shadow: 0 0 0 #fff;
    }
  }
}
