.icon {
  position: relative;
  display: block;
  height: 20px;
  text-decoration: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/menu.svg);
    width: 20px;

    @include onDesktop {
      display: none;
    }
  }

  &--cross {
    background-image: url(../images/cross.svg);
    width: 20px;
    margin: 0 0 0 auto;
  }

  &--logo {
    background-image: url(../images/logo.png);
    width: 58px;
  }

  &--arrow {
    background-image: url(../images/arrow.svg);
    width: 20px;
  }
}
