.lang {
  position: absolute;
  z-index: 3;
  background-color: #191536;
  color: #fff;
  height: 100vh;
  overflow: hidden;

  &__top {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: left;

    margin: 20px 20px 38px;
    z-index: 2;

    @include onTablet {
      margin: 30px 34px 47px;
    }
  }
}
